<header>

    //=include menu.html

    <!--<button class="uk-button" data-uk-offcanvas="{target:'#my-id'}">toggle</button>-->
    <a href="#offcanvas" class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas></a>

    <div class="titleBlock">
        <div class="uk-grid">
            <div class="logoWrap uk-width-small-10-10 uk-width-medium-4-10 uk-width-large-3-10">
                <a href="#">
                    <img src="../img/LG.jpg" alt="image">
                </a>
            </div>
            <div class="phonesWrap uk-width-small-10-10 uk-width-medium-6-10 uk-width-large-7-10">
                <div class="top-phone">
                    <div class="address"><span>Киев, <em></em>Позняки, ул. Анны Ахматовой 14А</span></div>
                    <div class="phone"><span>(044)383-22-88 &nbsp; &nbsp; (097)765-22-88 &nbsp; &nbsp; (093)765-22-88 &nbsp; &nbsp; (050)765-22-88</span></div>
                    <p></p>
                </div>
                <a class="top-button callback-btn" href="">
                    <span class="fontLarge">call me</span>
                </a>
            </div>
        </div>
    </div>

</header>