<header>
    //=include menu.html
    <!--<button class="uk-button" data-uk-offcanvas="{target:'#my-id'}">toggle</button>-->
    <a href="#offcanvas" class="uk-navbar-toggle uk-hidden-medium" data-uk-offcanvas></a>

    <div class="titleBlock">
        <div class="uk-grid">
            <div class="logoWrap uk-width-small-3-10">
                <a href="#">
                    <img src="../../src/img/LG.jpg" alt="image">
                </a>
            </div>
            <div class="phonesWrap uk-width-small-7-10">

            </div>
        </div>
    </div>

</header>