<header>
    //=include menu.html
    <!--<button class="uk-button" data-uk-offcanvas="{target:'#my-id'}">toggle</button>-->
<div class=".uk-width-1-1" data-uk-grid-margin="">
  <nav class="uk-navbar uk-navbar-attached">
    <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{target:'#my-id'}"></a>

    <div class=".uk-container-center uk-navbar-flip">
      <ul class="uk-navbar-nav" data-uk-nav>
          <li><a href="#doctor">НАШИ ВРАЧИ</a></li>
          <li><a href="#numbers">МЫ В ЦИФРАХ</a></li>
          <li><a href="#operationg-room">ОПЕРАЦИОННАЯ</a></li>
          <li><a href="#why-we">ПОЧЕМУ МЫ</a></li>
          <li><a href="#reviewes">ОТЗЫВЫ</a></li>
          <li><a href="#our-works">НАШИ РАБОТЫ</a></li>
          <li><a href="#implant-systems">СИСТЕМЫ ИМПЛАНТАТОВ</a></li>
          <li><a href="#how-we-work">КАК МЫ РАБОТАЕМ</a></li>
          <li><a href="#address">АДРЕС</a></li>
          <li><a href="http://lumident.kiev.ua/" target="_blank">САЙТ КЛИНИКИ</a></li>
      </ul>
    </div>

  </nav>
  <!-- скрытое выпадающее меню -->
    <div id="my-id" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                <li><a href="#doctor">НАШИ ВРАЧИ</a></li>
                <li><a href="#numbers">МЫ В ЦИФРАХ</a></li>
                <li><a href="#operationg-room">ОПЕРАЦИОННАЯ</a></li>
                <li><a href="#why-we">ПОЧЕМУ МЫ</a></li>
                <li><a href="#reviewes">ОТЗЫВЫ</a></li>
                <li><a href="#our-works">НАШИ РАБОТЫ</a></li>
                <li><a href="#implant-systems">СИСТЕМЫ ИМПЛАНТАТОВ</a></li>
                <li><a href="#how-we-work">КАК МЫ РАБОТАЕМ</a></li>
                <li><a href="#address">АДРЕС</a></li>
                <li><a href="http://lumident.kiev.ua/" target="_blank">САЙТ КЛИНИКИ</a></li>
            </ul>
        </div>
    </div>
  <!-- конец скрытое выпадающее меню--->
</div>


</header>
