<!--<nav class="uk-navbar">-->
<!--<ul class="uk-navbar-nav">-->
<!--<li><a href="#doctor">НАШИ ВРАЧИ</a></li>-->
<!--<li><a href="#numbers">МЫ В ЦИФРАХ</a></li>-->
<!--<li><a href="#operationg-room">ОПЕРАЦИОННАЯ</a></li>-->
<!--<li><a href="#why-we">ПОЧЕМУ МЫ</a></li>-->
<!--<li><a href="#reviewes">ОТЗЫВЫ</a></li>-->
<!--<li><a href="#our-works">НАШИ РАБОТЫ</a></li>-->
<!--<li><a href="#implant-systems">СИСТЕМЫ ИМПЛАНТАТОВ</a></li>-->
<!--<li><a href="#how-we-work">КАК МЫ РАБОТАЕМ</a></li>-->
<!--<li><a href="#address">АДРЕС</a></li>-->
<!--<li><a href="http://lumident.kiev.ua/" target="_blank">САЙТ КЛИНИКИ</a></li>-->
<!--</ul>-->
<!--</nav>-->

<nav id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-navbar-nav uk-nav-offcanvas">
            <li><a href="#doctor">НАШИ ВРАЧИ</a></li>
            <li><a href="#numbers">МЫ В ЦИФРАХ</a></li>
            <li><a href="#operationg-room">ОПЕРАЦИОННАЯ</a></li>
            <li><a href="#why-we">ПОЧЕМУ МЫ</a></li>
            <li><a href="#reviewes">ОТЗЫВЫ</a></li>
            <li><a href="#our-works">НАШИ РАБОТЫ</a></li>
            <li><a href="#implant-systems">СИСТЕМЫ ИМПЛАНТАТОВ</a></li>
            <li><a href="#how-we-work">КАК МЫ РАБОТАЕМ</a></li>
            <li><a href="#address">АДРЕС</a></li>
            <li><a href="http://lumident.kiev.ua/" target="_blank">САЙТ КЛИНИКИ</a></li>
        </ul>
    </div>
</nav>