body {
  font-size: 1em;
  text-align: center;
  /*background-color: lightblue;*/
}

header {
  font-size: 1em;
  color: darkred;
}


header .menuWrap{
  background-color: #2D9FD8;
  width: 100%;
}
header .menuWrap .uk-navbar{
  display: block;
  margin: 0 auto;
  background-color: #2D9FD8;
  /*width: 100vw;*/
  width: 1170px;
}

.uk-navbar-nav>li{
  text-align: center;
}
.uk-navbar-nav>li>a {
  color: white;
  font-family: MetaPro;
  font-size: 16px;
  transition: 0.3s;
  padding: 0 10px;
}
.uk-navbar-nav>li>a:hover{
  transition: 0.3s;
  text-decoration: underline;
  color: white;
}

/*.content {
  color: black;
  text-align: justify;
  max-width: 550px;
  display: inline-block;
}*/

.uk-navbar-nav, .uk-navbar-nav > li>a:hover, .uk-navbar-nav > li.uk-active > a {
  background-color: #2D9FD8;
}
.titleBlock .logoWrap{
  border: 1px solid red;
}
