body {
  font-size: 1em;
  text-align: center;
  /*background-color: lightblue;*/
}

header {
  font-size: 1em;
  color: darkred;
}


header .menuWrap{
  background-color: #2D9FD8;
  text-align:center;
}
header .menuWrap .uk-navbar{
  background-color: #2D9FD8;
}
header .menuWrap .uk-navbar-nav{

}
.uk-navbar-nav>li>a {
  color: white;
  font-family: MetaPro;
  font-size: 16px;
  transition: 0.3s;
  padding: 0 10px;
}
.uk-navbar-nav>li>a:hover{
  transition: 0.3s;
  text-decoration: underline;
  color: white;
}
/*.content {
  color: black;
  text-align: justify;
  max-width: 550px;
  display: inline-block;
}*/

/*.uk-navbar-nav, .uk-navbar-nav > li>a:hover, .uk-navbar-nav > li.uk-active > a {
  background-color: #2D9FD8;
}*/
.titleBlock .logoWrap{

}

.titleBlock .phonesWrap .address{
  color: #666666;
  font-size: 20px;
  font-family: Roboto-Light;
  font-weight: bold;
  line-height: 1.5;
}

.titleBlock .phonesWrap .top-phone .showPhones{
  color: rgb(4, 144, 182);
  font-size: 24px;
  font-family: Roboto-Light;
  cursor: default;
  font-style: italic;
  display: block;
}
.titleBlock .phonesWrap .top-phone .showPhones:hover{
  cursor: pointer;
}
.titleBlock .phonesWrap .top-phone .callback-btn{
  color: #83C134;
  text-decoration: underline;
}
.titleBlock .phonesWrap .top-phone .callback-btn:hover{
  text-decoration: none;
}

.titleBlock .phonesWrap .address em{
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAYAAAA5ZDbSAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH3wYZDwcuFSY12gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAABXPSURBVHja7Z1rcFRVtsf/+3QHuhNCxkAITWKeEAZkEAlhAEVAwsPIw4vARWW4MGMVzFClMDXqWM6YRp2HMjXBueWDKhWGAvGKMIAaeYRniodEBLkMlIE8iB06IRBuCJ3umHSv+4EEQ9LdZ69zTocQsj5B+px9zlm/vdZee+2XQCeSspoiqqy7iIu1F1BeWwqny4GqOieq3VVwNdTC4/UAACwmCyLCIhFtjUFMuA22iHjERSahX2QiYsP7ISEqVXQWndyxH3L28kn69tIxHHLsxr8vfxOSZ9zXezgejJ+E+/uMxKDew0QX4BBb5+HyPdjy3VpcdlfelnfobY3FrIELMSZu4h1j5aKjQ91VsgUfnXmvQ77fU4OXYHLyrA4Nu0O+2M7izfSPr+1wN9bdEd7Fag7HsyPsmJLyhOgCHEDcDa7sNady7J9+t+aODmpmD1yERUOX261hESu6AAOodJXTmlOrsKtkS2cK6DE5eRYWDV2G2Ig4cdcCfqsgm7adW4/OLDMHzMdzGSvEXQV4W+F6euvrbNxN8tyIFZiZNl90asCF1adped6Td0zwFIpgLCdzI9Kih4hOB/j9kyupPbo7Ud3vQWJUf8RHJsPWIwGx4Tb0ssYiyhINW0S8HQCcLoe9xlONK+5KVNY54bxeBkdtCS7UnEdN/dV26V49M+x50SkAl9UU0a93Ph4yq72v93AMiUnHoF7DkBY9BH17xOv6porrDiqsPo2zV07idNXxkGXJrOZwvDtla8j70CEtfE/pdvrT4eWGlhlticGouAkYaRuHhxOmtosVHCzbQcecB3C0fB+qPVWGlv3ymBxMTJoh7jjARkbIFrMVjyROx7iELGTYxt7WyL/AmU8HynKx98Jn8DS6O3ykHZJCl+yYSYXVpw1xv4+mzEFW/7kdMuOWe/4T+rJ4kyFuPC16CN6buk10aMDuBlf2jE8fsHvJq6ucDNtYzBu0GA/0HX1HJPRPVByhj8+uRoEzX1c5JmHC9tknDM2CGaZAx7VSWvD5RF1l9I2Ixy+HLkdm8uN35NBcXslW+vBUDipcDl3lrJu2B/E9k0SHAVxWU0QLv5isq4zZAxfhN+l/6BQD7e8cf5305tTXPrbLkAhb3G7LTeiZiqXpf7ztwVMogrG3j7+GsmtFt9WSFb1trh64WalzsXbaLtHZ4DbFEWLttF0iK3Wu5jIWfD4R7gZX9m2z4Ekb00hrQLUs41XMGPB0pwPrT7af20CrCl7RHHjtfrJQtLsFL9kxUxPcvhHxWJW58a6BCwAzBjwtVmVuRN+IePa9XvJiyY6Z1K6A3yrI1tTPHdonAx9k5dqH9hl518D98dtHihvfnsG+t7D6NN4qyNYEma1orenHh++dCvvYt+86sP7Enr+UDn6/g32flrQm62Kt3aEpKU/gxVFvdsFtIW8cfYF2Fm8OefeJpfTHPvkZcUeFuuAaC9lqDscXc/9XWp/SbfD7J1ey4T5879QuuEHkxVFviofvncrrmjbW4f2TK8lQCy6sPk1LdsxkB1SrMj/ugivTZcybR6cuFbDueW/qNqmZIVIAuK65b0Q8PsjKDZo0n7AhZbsQYrpe5fjIN23/0yVfhBLAhA0ph4QQY/SW42mkPocXFLcZUHY3uLJ/lZtl5+SwZV21qoveVrie7Zp/P3olVEdEhLAaoXwFyj2htzHR24hSTKLR5BdWWMSK349eyXbV2wrXk27A3NmPyzJehUw/VxBFGqN8Sgkl2sH2wWHCoGeYRDdTsH7ysoxXefkICTaKWkKD88Cs1LnSGSqCMMTyCOKnoQQcm1o3CEKYjamLZAn284wBT7Nz12qMAgKudJWzptwk9EzF737+F0b/jKINcZ7AAyF1zkIZbVhhKoAB4Hc//4tI6JkqXeS2c+tR6SonNuA1p1ax3n1p+h+lr50zBwoJYQhgEkh78IOBPUJHGGOMKsqnkNVoXaqx8gvY3eDK5qwVmj1wEWs8t+qxpBihc6iyhQUr3bv9MCqEgB8xqigFpgiZ6zJsY8XsgYuky91VsiXgsKLiv0bk2DldIu5MDGFCrJEMfIoyNhRsH16X+FNAxBtXWbzSnuY36X8QnNGnQMz8AuZMN/nlUP7AA8FkM9bI6OFQAFbMpsmGlgfBako4ug3ErA3gncWbpSPnDNtYTRPkFIX6GsxidPpqm9VowAL6EzG3xliC1TXMTH5cZNjknZM/dm0A/+Nrae+MeYMWa+3a9FNXBv1JPtIV3XtGdH/ISBiZq1N6CtC4oE0D6M+8iBxR3Pfg6Ngfu1sAl9UUSWet7us9XPu8ZUGqgJVGz99B1CgfTZsyDW3Xe+BRQIQFqYD1Xm/jfzNdAhvwA31Hi/t6D5e61t1Yh7KaIgoImBM5P5oyR092QjV6+D+P7RoJcZZhHY8a6k4FnlB53on6q91cvFrDB8zVdWuGtwCWXd5pMVt1LicRccHdM7zHFx9vBNE38saBn439MNWQiLepPc8Kyopw2Ns9ys30XD/R8j5Z/ecKi1kuxGjNUGnpnmUf+EiivthDAPeqKMLTZEWsRT/m7sZYcVSEdYqACNpnVQj5TZVQvhkBNKdnOTpvyfIm4MPle6QLGJeQpVl5g+2Dw0igT3C+cAOAyUvf8CoOTTPEPSviP1VIkc9lzm96KMOKteffOTpvyfIm4C3frZW6OdoSo2sVgi2hIV4ti0UQdTespO4bgBoY0XnmqL/HW/TAnbQuNhyg6Srt8+n9iwuvNP3HxaiAmgFn2MaKaEuM1LUtWd5UtOz2gKPiJuiLTs10rwQqFwDsXlBZRwTpqQ5CINwSG6ZrBZzXFDFdzT2DsLf1u0q+oK78u6zuW7JUgBsbe8o+ZKRtnL7210QJElddb2Et+1lJFCFm6HLPwDyJEHtPC68hDZhI3wgaR/fNTBUA+PbSMekb9W6bQGoBViurED7fft4DxAzYtS3JmfjPftFq0TMRvCaX74AWCxZCdB//9uAIrbrj6L6ZqQIAhxy7pZMbekUICcDiRws2+9yHOO0wBPqOT0nRNMTnM1vmCiG6qdSgY3mLi6/58zZSHuYn7l569CfLoJmpAkB6C4IhMekGhKhIlLimtvmfuxdU1gHiGKsSmfAf2iqfmC9RQXcG8jZytUjRBViWQTNT1pjsoF7DDMgQUZK6Eqm21V27eaT4gCd+OCAZpD647/MprdecXOd9v1fXBD4uA4WT4EiLHqLfRRNUgyxqYcFNf8jl8RUp4zck3c8yrG7e+RDB224iVO4/f/5YoIBQUuW6AHMYlNUUkVJZd1Euu9P9Ht2bjI1fndYLQn1MVIhbAe89V/I1ACevIpl4VizjnoEvYAe16tvW8pIoiNGjw7494kVUd7nudGXdRSgXay9IXZwY1V+/9fbwJsqZk7hVaXYQEbaFyk1PWJc0UgikqXsWsVXV26jZrwFzrGVZXKy9AKW8tlTq4vjIZP0BFkgKMIm2SiOIfzGj9aET1vaXms8sTMp89Zei69TYuMtPx5vXBpM+C+awKK8theKUXC5h65Gg34JJJMsZH11r/bdL57rtA8DaKVSY6XHVZsMOE0HMVa904vP9C0vr23obngUL6Acsy8LpckCpqpNr2mLDDZhGJRFBN1lwG8Bn7GcaCFw3TapZLdE/6REh1CcBkte3SS7iV+1F6AYsy6Kqzgml2i23uWYvqyETIeVcdGNbwE2/fMJ83oOj3o+/J7grN0mkJum6p6oh13+3iWnBJProVaIsi2p3FRRXg9z7RVn0z1MnIeeiFSK/gCsLLXlEqGY0xOZwS1jA1ONg++AwmWCMhNh29LcOj993VZgWDOgGLMvC1VALpfm4N1W/37SZdnsEWb4AgM/YzzRAECvYglACAo5N82RCYhBeNPo+DvRbY6OJ2wbfk746XddaJ1kWHq/HmNUFUpmif/aLFhA9Za5trPPVBEkl/Q+zzZsyZ47/7xQkZktEvdUVxdadAb0N04IhICzmSzHtpXfFYpIbH3e6HLos2Css0v0s276yawEVfr50LwGXGPrsVTktdWTrv6evTjeTIJltCzadsZ8JONjxQwBvE0zCLCZdblqWhcVkgRIRJjcXu8ZTra8mmRQpwARybdoEX6Df99vh5QZbJhPabITR03p1rIBQTfwrPl/QJZa+yz/UcnUhSF87LMsiIiwSSrRVzltc0XkgJEl2kUCoUVWQV3zEa4aR6edv09VfBRf2FJUcCnbN0d86PJyJd02Ru64uiSyLaGsMlBjJPlVlnVMXYEEkmeQQqi5v7y+KjoBQykgf/bzNElMJwCBa3zr3HIAYz4p1WrAsi5hwGxSb5Ao25/UyfRYMyLlogWuS0DZyukvdrA1jfwz4kgcAQj2hS751cq8C7oCDvjZYkoUtIh5KXKSc53TUlugN6Axz0U0Jhg0sD+LDTcBkViZLUPtq3/zSQjmvQ9x2WJeLlmURF5kEpV+k3ADPhZrz+lw0RJLcdXIWvH9B8b9B+JaRZBnbor2YpFqBINYxPo83JkykC7Asi36RiVBiw/tJXVxTfxUV1x2adjwdvzYpFgKyyzuvyUMD59ye4ePtMMEOQcBDwfVP9R53/UZG9b3eXhZccd1BsqezxYb3g8LZ2FLzUTlmc5J87ZZvz0SD8hEhcJfq1mYY4b7+KYPGJyWlqXaPBLYffcZxVf6VeS5aCO1tMIdBQlSqYGWyzl45qa0PTL5khrKkLXjvf527KAj7pPvDwM+EWVGdlkherGV+IndMWDNgLgMFkJ+KebrquNYGOJFRu3kRKfk2MMoeAGCwSg2rQFHxTuYHungWLLo99E6CppWGsgyamSoA8GD8JKmbtJ7wJTuK1NSdYqX+TC6xGYBHrmxhE0Jt6Sqtv5EtY30htw1GWE9FkxXLMmhmqgDA/X1GSj/gYNkO4hswSQMWxGvP8hYXXyOiz+Ush6ZBYGrwri/bPbOWr/zYbPHHhTm6b2aqAMCg3sOkA61jzgMaXLSQdtE+obBzu+STTXqIeAC2INb7zf4Fxf9mw+JOfgfg1TAuzNF9M9ObQVZvyVkCR8v38d7qxjqhRHlafHfnqWrI5QRnQSqipuNSiQT7cGSh8C1YVvctWd4EPGvgQqmbqz1VKHDmS7uK8UlJfQBIr9kVPh8b8NHfOjzwMedrtY1svY3eho3a7vaxLVgwLbjAmU+yZxe3ZHkT8Jg4+WW1B8rkFxr4hIk135aguDQC+liX8YL25P+irEKb4fMtmNtV4ui8JUulZadYuv954TNGjoMSecbAt2AAsF5V8kgyjx0guNqo9V4fBP+kaOaAA0fnLVnekuh4avASuTav0Y3c85/IumkW4EafWZMFf/ns+R9AtF2b9VM9eX3/0mH/HvYdDAvOPf8JyZ423prhLYAnJ8+SV2jxJllXxJoxbzXX1mnXM7RC2rV/Yalm61fgZVswZ3alrK79MVRam7bVHC7d4T5RcUTVioUQSYyvpt3FlW6tijZ7XTtB4CubxKe6AjQv1WsIsqSm0pyoOEKyyQ2rObxNU9smF/3sCLv0S358drX6xwuGBQvUS82gCCC7F1TWkcAeJt1Gj6f+M12ATWADJiGiA8325Oo4GLs2D5iS8oR0sFXgzEdeyVYVIKwgyw2dQoQvmbcc4owc+Q2ytFmwUj49JeioVl7JVipw5kuX6Y+d3xrE2W38w1M5AX+7sWOr3FzoJhddrxew7wfaxbwlV+8zFWFu0HKfVQm+GDyYbmWZ+QW8aOhyaT9d4XLgneOv+7XiRqvMjjq3uHPdgA8uKj5PROXydUrk6Qas+DQB9vkCt8PvHH+dOAdlBWLmF7A1LGIFJ6L+9Ls1/rNbgrcdvuDspqPSekjGdC46V/Stbq9BJk3HoAvFFx2g6SPOrvuTk2cFPIhMCVwjlrFe9u3jr/mp2byd3YmEzxC8Qnwn2Q6e4w8NtpWG+npN700Btjb0p8vg1rss2DcGlrcKsllnJ2WlzmWdndQlbeVvX71EuUXyCzdmDpiP5zJWCE2AAeCRj1JZ3ZZlGa9Kn37WJbfK9nMbaFXBK6x79j5VJIInYVTkuRErWA9cVfAKTl06Rl24eHLq0jE2XBk2qoBnps2Xzm41y1+PPB/woKYu8dP5b3Bl//XI87wuljkcM9Pm6z9eFgByMnkDLRUuB1468Ct7Fzo5eenAr1hnB3OYSAFOix4iZEeafnQ5BbDnL+1y1Spiz1/KPv37qcFLpE7/lgqyWgr3JHAAmJLyBF4c9WZX0OVH3jj6Au0s3sx2zTInf7MsuFnenbKV/RE7izfjjaMvdFmyAXC1MGABTohKFS+PydEEuctd3+qWtcB9eUwOa+YNGzAATEyaIWYOmM9+uYPf78CyvHl0N0fX7gZX9rK8eXTw+x3se2cOmI+JSTPYTZ3mtnHJjpmkZTFa34h4/H70SgztM/KuapdPXTpGfz3yPLjRclOQi/embtOkL11KnrQxjbykLZV7N2W8tGSomsUkTNj9ZKFmPenaJ2v77BOa+7qrCl7B3756qdO3y3/76iXNcPXqWLcFA4DjWikt+Fz7UUUJPVOxNP2Pug7b6ohS4Mynt4+/hrJrRZrLWDdtD+J7JonbChi4sXX8wi/0HZY9e+Ai9lHxHVXeOf46azzXn6x9bBc7Yg4ZYCMsuTkA++XQ5ZpOFe8IkleylT48laMpkDLacg0H3NwNmPHpA3atgVezZNjGYt6gxdoPoG5nOVFxhD4+uxqcCXKBAqrts0/YA83OuO2A9XahWst9vYfj0ZQ5Os8qDp3knv+EvizepHlhvFFdoXYHDPBngwQTi9mKRxKnY1xC1m0Pxgqc+XSgLBd7L3wG2eUkMkmMYLMyOiRgANhTup3+dHi5oWVGW2IwKm4CRtrG6T5HUVYOlu2gY84DOFq+D7JLOGXl5TE5mjJUHQJwc4T9652PgzsKxXHjQ2LSMajXMKRFD9F9tlPFdQcVVp/G2SsncbrquCHu159YzeF4d8pWQyLl2wq4Wd4/uZJany8fConqfg8So/ojPjIZth4JiA23oZc1FlGW6Js7pTtdDnuNpxpX3JWorHPCeb0MjtoSXKg5D9lNxvTIU4OX4Jlhz7eL7tu1PSusPk3L854MmTV3dLGaw5GTuVF6sP6OA9ws2wrX01tf312DSs+NWCE1h6pTAA5FpN1RJZQRcocHDACVrnJac2oVdpVs6VRgJyfPwqKhyxAbEXdbddxhEgjuBlf2mlM5dr053NstswcuwqKhyw3NRnUKwC1lZ/Fm+sfX9jsmGLOaw/HsCDtrbfVdDbhlH3pXyRa0R/dKa3dncvKskPdlOy3g1rAPl+/Blu/W4rLOE2C0Sm9rLGYNXIgxcRM7NNQ7EnBrOXv5JH176RgOOXaHLNt0X+/heDB+Eu7vM5K1n2cX4BBaeWXdRVysvYDy2lI4XQ5U1TlR7a6Cq6EWzec0WkwWRIRFItoag5hwG2wR8YiLTEK/yETEhve7Y6xTRv4fWaGncXj3EHoAAAAASUVORK5CYII=");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: -3px;
  margin-right: 3px;
}

.titleBlock .phonesWrap .phone{
  color: #0490B6;
  font-size: 24px;
  font-family: Roboto-Light;
}