.textFont{
  color: #666666;
  font-size: 20px;
  font-family: Roboto-Light;
  font-weight: bold;
  line-height: 1.5;
}
.uk-container>a>img,
.uk-container>div{
  margin-top: 10px;
}
.uk-align-medium-right>span>img{
  height: 20px;
  vertical-align: text-top;
}
